{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Dashbord</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <header>
        <div class="container">
            <nav class="navbar">
                <h1>DashBoard</h1>
                <ul class="nav-links">
                    <li><a href="#">Alunos</a></li>
                    <li><a href="#">Médias </a></li>
                    <li><a href="#">Uso de Dispositivos</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main></main>

    <script src="{% static 'script.js' %}"></script</script>
</body>

</html>